body{
    background-color: black;
    background-repeat: no-repeat;
    background: url(5851570.jpg);
}
.art-articles{
    margin-left: 20em;
    font-family:garamond;
    line-height: 1.5;
    text-align: left;
    margin-right: 20em;
    margin-bottom: 8em;
    color: white;
    font-size: 19px;
}

.image {
    margin-left: 4em;
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
}

footer{
    background-color: black;
    margin-top: 64px;
    padding-bottom: 16px;
    padding-bottom: 16px;
    color: #DEAA1A;
}

.category{
    margin-top: 4em;
    text-align: center;
    color: #DEAA1A;
    margin-right: 3em;
}

.author{
    color: #808386;
    font-size: 0.75em;
    text-align: center;
}

.title{
    text-transform: capitalize;
    text-align: center;
    font-family: garamond;
    color: white;
    margin-bottom: 1.5em;
}

.image2{
    width: 400px;
    height: 200px;
    margin-left: 6em;   
}

.articles-art{
    margin-left: 11em;
    font-family:garamond;
    line-height: 1.5;
    text-align: left;
    margin-left: 6em;
    margin-top: 2em;
    color: white;
    font-size: 14px;
    margin-right: 84em;
}

.crisfam{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-left: 46em;
    margin-bottom: 3em;
}

.art2{
    font-family:garamond;
    line-height: 1.5;
    text-align: left;
    color: white;
    font-size: 14px;
    margin-left: 53em;
    margin-right: 5em;
}

.boxes{
    margin-left: 40em;
    color: white;
    font-family: garamond;
}

.buttons{
    margin-left: 40em;
}
.titlecon{
    text-align: left;
    color: #DEAA1A;
    margin-left: 30em;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: garamond;
}

.image3{
    max-height: 150px;
    max-width: 200px;
    width: 30px;
    height: 120px;
    margin-bottom: 0em;
    margin-left: 5em;
}

.image4{

    /* max-width: 200px;
    width: 120px; */
    /* height: 360px; */
    width: 100%;
    display: block;
    /* margin-left: 5em;
    margin-bottom: 0em; */
}

.image5{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-bottom: 0em;
    margin-left: 50em;
}

.image6{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-left: 5em;
}

.image7{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-left: 50em;
}


.grid-images{
    display: block;
    width: 100%;
}

.text-white{
    color:white;
    font-family: garamond;
}

.images-art{
    width: 100%;
    display: block;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-left: 12em;
}